@model List<OrangeDNS.Data.Client>
@{
    ViewBag.Title = "Orange DNS";
}

<div class="ibox-content">
    <h2>@ViewData["ResultMsg"]</h2>


    <table class="table table-striped table-bordered table-hover dataTables-example">
        <thead>
            <tr>
                <th>Adı</th>
                <th>IP</th>
                <th>Sil</th>
                <th>Blok</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (string.IsNullOrEmpty(item.Name)) { continue; }
                <tr class="gradeX">
                    <td>@item.Name</td>
                    <td>@item.Ip</td>
                    <td> @Html.ActionLink("Sil", "Delete", "Client", new { clientIp = item.Ip }, new { onclick = "return confirm('Kullanıcıyı silmek istediğinizden eminmisiniz?')" })</td>
                    @if (!@item.IsBlocked) {
                    <td> @Html.ActionLink("Blokla", "Block", "Client", new { clientIp = item.Ip }, new { onclick = "return confirm('Kullanıcıyı bloklamak istediğinizden eminmisiniz?')" })</td>
                    }else{ 
                    <td> @Html.ActionLink("Blok Kaldır", "Block", "Client", new { clientIp = item.Ip }, new { onclick = "return confirm('Kullanıcı bloğunu kaldırmak istediğinizden eminmisinz?')" })</td>
                    }

                </tr>
            }


        </tbody>
        <tfoot>
            <tr>
                <th>Adı</th>
                <th>IP</th>
                <th>Sil</th>
                <th>Blok</th>
            </tr>
        </tfoot>
    </table>
    @section Styles {
        @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    }

    @section Scripts {
        @Scripts.Render("~/plugins/jeditable")
        @Scripts.Render("~/plugins/dataTables")

        <script type="text/javascript">
            $(document).ready(function () {

                $('.dataTables-example').dataTable({
                    "dom": 'T<"clear">lfrtip',
                    "tableTools": {
                        "sSwfPath": "../scripts/plugins/dataTables/swf/copy_csv_xls_pdf.swf"
                    }
                });

                /* Init DataTables */
                var oTable = $('#editable').dataTable();

                /* Apply the jEditable handlers to the table */
                oTable.$('td').editable('../example_ajax.php', {
                    "callback": function (sValue, y) {
                        var aPos = oTable.fnGetPosition(this);
                        oTable.fnUpdate(sValue, aPos[0], aPos[1]);
                    },
                    "submitdata": function (value, settings) {
                        return {
                            "row_id": this.parentNode.getAttribute('id'),
                            "column": oTable.fnGetPosition(this)[2]
                        };
                    },

                    "width": "90%",
                    "height": "100%"
                });


            });

            function fnClickAddRow() {
                $('#editable').dataTable().fnAddData([
                    "Custom row",
                    "New row",
                    "New row",
                    "New row",
                    "New row"]);

            }

        </script>
    }
</div>
