@{
    ViewBag.Title = "Orange DNS";
}

<div class="row  border-bottom white-bg dashboard-header">

    <div class="col-sm-4">
        <h3>En çok sorgulanan 5 domain</h3>
        <ul class="list-group clear-list m-t">
            @foreach (var item in (List<OrangeDNS.UI.Model.TopDomainsViewModel>)ViewData["TopDomains"])
            {
                <li class="list-group-item">
                    <span class="pull-right">
                        @item.Count
                    </span>
                    <span class="label label-success">@item.Order</span> @item.Name
                </li>
            }
            
        </ul>
    </div>
    <div class="col-sm-4">
        <h3>En çok sorgu gönderen 5 kullanıcı</h3>
        <ul class="list-group clear-list m-t">
            @foreach (var item in (List<OrangeDNS.UI.Model.TopUsersViewModel>)ViewData["TopUsers"])
            {
                <li class="list-group-item">
                    <span class="pull-right">
                        @item.Count
                    </span>
                    <span class="label label-success">@item.Order</span>
                    @if (String.IsNullOrEmpty(item.Name)){
                        @item.Ip
                    }
                    else
                    {
                        @item.Name
                    }
                </li>
            }

        </ul>
    </div>
    <div class="col-sm-3">
       
        <h2>İnternet Aç/Kapat</h2>
        @if (ViewBag.Internet == "0")
        {
            <div class="btn-group btn-toggle">
                <button class="btn btn-primary active">Açık</button>
                <button class="btn btn-default">Kapalı</button>
            </div>
        }
        else
        {
            <div class="btn-group btn-toggle">
                <button class="btn btn-default">Açık</button>
                <button class="btn btn-primary active">Kapalı</button>
            </div>
        } 
    
    </div>

</div>

@section Styles{
    @Styles.Render("~/plugins/switcheryStyles")
    }

@section Scripts {
    @Scripts.Render("~/plugins/flot")
    @Scripts.Render("~/plugins/sparkline")
    @Scripts.Render("~/plugins/chartJs")
    @Scripts.Render("~/plugins/peity")
    @Scripts.Render("~/plugins/switchery")

    <script type="text/javascript">
       

        $(document).ready(function () {

            $(".bar_dashboard").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"],
                width: 100
            })

            $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
                type: 'bar',
                barWidth: 8,
                height: '150px',
                barColor: '#1ab394',
                negBarColor: '#c6c6c6'
            });

            var updatingChart = $(".updating-chart").peity("line", { fill: '#1ab394', stroke: '#169c81', width: 64 })

            setInterval(function () {
                var random = Math.round(Math.random() * 10)
                var values = updatingChart.text().split(",")
                values.shift()
                values.push(random)

                updatingChart
                    .text(values.join(","))
                    .change()
            }, 1000);

            var data1 = [
                [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
            ];
            var data2 = [
                [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
            ];
            $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
                data1, data2
            ],
                    {
                        series: {
                            lines: {
                                show: false,
                                fill: true
                            },
                            splines: {
                                show: true,
                                tension: 0.4,
                                lineWidth: 1,
                                fill: 0.4
                            },
                            points: {
                                radius: 0,
                                show: true
                            },
                            shadowSize: 2
                        },
                        grid: {
                            hoverable: true,
                            clickable: true,
                            tickColor: "#d5d5d5",
                            borderWidth: 1,
                            color: '#d5d5d5'
                        },
                        colors: ["#1ab394", "#464f88"],
                        xaxis: {
                        },
                        yaxis: {
                            ticks: 4
                        },
                        tooltip: false
                    }
            );

            var doughnutData = [
                {
                    value: 300,
                    color: "#a3e1d4",
                    highlight: "#1ab394",
                    label: "App"
                },
                {
                    value: 50,
                    color: "#dedede",
                    highlight: "#1ab394",
                    label: "Software"
                },
                {
                    value: 100,
                    color: "#b5b8cf",
                    highlight: "#1ab394",
                    label: "Laptop"
                }
            ];

            var doughnutOptions = {
                segmentShowStroke: true,
                segmentStrokeColor: "#fff",
                segmentStrokeWidth: 2,
                percentageInnerCutout: 45, // This is 0 for Pie charts
                animationSteps: 100,
                animationEasing: "easeOutBounce",
                animateRotate: true,
                animateScale: false,
            };

    
            $('.btn-toggle').click(function () {
                $(this).find('.btn').toggleClass('active');

                if ($(this).find('.btn-primary').size() > 0) {
                    $.post("/home/internet", function (data) {
                    });
                    $(this).find('.btn').toggleClass('btn-primary');
                }
                if ($(this).find('.btn-danger').size() > 0) {
                    $.post("/home/internet", function (data) {
                    });
                    $(this).find('.btn').toggleClass('btn-danger');
                }
                if ($(this).find('.btn-success').size() > 0) {
                    $.post("/home/internet", function (data) {
                    });
                    $(this).find('.btn').toggleClass('btn-success');
                }
                if ($(this).find('.btn-info').size() > 0) {
                    $.post("/home/internet", function (data) {
                    });
                    $(this).find('.btn').toggleClass('btn-info');
                }

                $(this).find('.btn').toggleClass('btn-default');

            });

            

        });

    

    </script>
}